@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import './_reset';

html, body{
    font-family: 'Lato', sans-serif;
    
}

body{
    background-color:#000;
    color:#FFF;
}
#root{
}